*{
    margin:0%
    
}
h1{
    background-color: black;
    color: white;
    display: block;
    text-align: center;
}
h4{
    background-color: black;
    color: grey;
    display: block;
    text-align: center;
    margin: 0%;
    
}
.header{
    margin-bottom: 10px;
}
.box{
    border: color black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
}
.box >img{
    width: 200px;
    height: 200px;
    padding: 15px;
}
.image{
    text-align: center;
    display: flex;
    margin: 10px;
    gap: 15px;
    align-items: center;
    justify-content: center;
    
}
button{
    background-color: black;
    margin: 10px;
    cursor: pointer;
    color: white;
}
.one{
    margin-top: 10px;
}
table{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-section{
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
}
.two{
    background-color: yellow;
    color: black;
    height: 40px;
    width: 550px;
    text-align: center;
}
.two:hover{
    background-color: purple;
    border-radius: 20px;
    color: #ffffff;
    transition: 1s;
}